body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#root{
  text-align: center;
  padding:30px;
}
.plans{
  position: relative;
  padding-bottom: 50px;
  text-align: center;
}
#root .col{
  padding: 0px;
  display: inline-block;
}
#root h4{
  margin: 10px 0px;
  height: 30px;
  padding: 0px 5px;
}
#root h4 span{
  display: block;
  min-height: 30px;
  font-size: 15px;
  line-height: 30px;
  border: 1px solid #000;
}
#root .price{
  position: absolute;
  bottom: -30px;
  font-size: 12px;
  width: 100%;
}
#root .fa-spin{
  font-size: 50px;
  margin: 50px auto;
}
#root  .fa-check{
  color:rgb(30, 165, 12);
}
#root p{
  min-height: 30px;
  border-bottom: 1px solid #ccc;
}
#root .fa-times{
  color:#ff0000;
}
#root .price label{
  font-weight: bold;
  font-size: 16px;
}
#root .price label input{
  margin-right: 5px;
}
@media only screen and (max-width: 520px) {
  #root .col.text-left{
    font-size: 12px;
  }
  #root h4{
    height: 60px;
  }
  #root h4 span{
    line-height: 1.2;
    height: 40px;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }
  #root .price{
    margin-bottom: -20px;
    line-height: 1;
  }
  #root .price label input{
    margin-right: 2px;
  }
  #root .price label{
    font-size: 13px;
    margin-bottom: 4px;
  }
}